.services__img {
    max-width: 90px;
}

.services__ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    margin: 50px auto 0 auto;
    gap: 10px;
}

.services__ul-li {
    border-bottom: 2px solid #A08CE6;
    box-sizing: border-box;
    padding: 0 20px 15px 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.services__ul-li p {
    line-height: 1;
}

.services__ul-li div {
    width: 7px;
    height: 7px;
    background-color: #A08CE6;
    border-radius: 50%;
}